.typography {

    &__big_heading {
        font-style: normal;
        font-weight: 900;
        font-size: 60px;
        line-height: 76px;
        letter-spacing: 0.19em;
    }

    &__body1 {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.19em;
    }

    &__btn_text {
        font-style: normal;
        font-weight: 900;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.19em;
        text-transform: uppercase;
    }
}