.typography {

    &__body1 {
        font-style: black;
        font-style: normal;
        font-weight: 900;
        font-size: 60px;
        line-height: 127%;
        /* or 76px */
        letter-spacing: 0.19em;

    }
}