.typography {

    &__big_heading {
        font-style: normal;
        font-weight: 900;
        font-size: 60px;
        line-height: 76px;
        letter-spacing: 0.19em;
    }

    &__body1 {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 127%;
        /* or 20px */
        letter-spacing: 0.19em;
    }
}