@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  overflow: overlay !important;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  --primary-color: #E6E96B;
}


.app_wrapper {
  height: 100vh;
}

.app_margin {
  max-width: 1440px;
  padding: 0px 20px;
  margin: 0px auto;
}

